{% extends "base.html" %}
{% block content %}
<style>
    h1 {
    margin: 20px;
    }
    .card {
    margin:20px;
    }
    .card-body {
    text-align: center;
    }
    .card-text {
    margin-top: 4px;
    }
</style>

<div class="row">
    <div class="col">

        <div class="card">
    {% load static %}
    <img class="img-thumbnail" src="{% static './img/retail.jpg' %}">
  <div class="card-body">
    <h5 class="card-title">Retail report</h5>
    <p class="card-text">Analyze your transactional data from MongoDB.</p>
    <a href="{% url 'retail_report' %}" class="btn btn-primary">Open report</a>
  </div>
</div>

</div>

    <div class="col">
<div class="card">
    {% load static %}
    <img class="img-thumbnail" src="{% static './img/marketing.jpg' %}">
  <div class="card-body">
    <h5 class="card-title">Marketing report</h5>
    <p class="card-text">Analyze your digital marketing data from MongoDB.</p>
    <a href="{% url 'marketing_report' %}" class="btn btn-primary">Open report</a>
  </div>
</div>
</div>
</div>
{% endblock %}
